@font-face {
	font-family: 'Florencesans';
	src: url('++theme++arcas.theme/fuentes/florencesans.eot');
	src: local('☺'), url('++theme++arcas.theme/fuentes/florencesans.woff') format('woff'),
    url('++theme++arcas.theme/fuentes/florencesans.ttf') format('truetype'),
    url('++theme++arcas.theme/fuentes/florencesans.svg') format('svg'),
    url('++theme++arcas.theme/fuentes/florencesans.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('++theme++arcas.theme/fuentes/calibri.eot');
	src: local('☺'), url('++theme++arcas.theme/fuentes/calibri.woff') format('woff'),
    url('++theme++arcas.theme/fuentes/calibri.ttf') format('truetype'),
    url('++theme++arcas.theme/fuentes/calibri.svg') format('svg'),
    url('++theme++arcas.theme/fuentes/calibri.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Attic';
	src: url('++theme++arcas.theme/fuentes/attic.eot');
	src: local('☺'), url('++theme++arcas.theme/fuentes/attic.woff') format('woff'),
    url('++theme++arcas.theme/fuentes/attic.ttf') format('truetype'),
    url('++theme++arcas.theme/fuentes/attic.svg') format('svg'),
    url('++theme++arcas.theme/fuentes/attic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
p,h1,h2,h3,h4,h5,ul,li{
margin:0;
padding:0;
list-style:none;
}
.clr{
clear:both;
margin:0;
padding:0;
line-height:0;
font-size:0;
height:0;
}
#form-widgets-anotacion{width:50%}
#content ul.formTabs {background-color: #4E4E4E;
border: 0.3em solid #4E4E4E;}
.formHelp{color: #C9C9C9  !important;margin: 0px 0px 0.2em;display: block;font-weight: normal;}
.mceFirst,#form.widgets.cuerpo_toolbargroup{background-color:#4E4E4E !important}
.mceIframeContainer{background-color:#fff !important}
body{
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family:"Arial",sans-serif;
}
h2{display:inline;color:#eee; margin-top: 12px;}
h3{display:inline;}
body{background-color:#c0c0c0;margin:0 auto;text-align:center;}
#container{
background-color:#6d6558;
width:1024px;
margin:0 auto;
text-align:left;
}
body.home #header{
height:107px;
background:url("/++theme++arcas.theme/images/bgHeaderHome.jpg") no-repeat left top #403a31;
border-bottom:1px solid #ffffff;
}
#header{
border-bottom:1px solid #ffffff;
background-color:#403a31;
}
ul.menu{
float:right;
margin-right:24px;
}
body.home ul.menu{
margin-right:14px;
}
ul.menu li{
float:left;
font-family:"Florencesans","Arial",sans-serif;
font-size:12px;
height:20px;
background:url("/++theme++arcas.theme/images/separadorMenu.gif") no-repeat left top transparent;
padding:0 9px;
}
ul.menu .actionMenu li{background-image: none !important}
ul.menu li a{
color:#ffcc66;
text-decoration:none;
line-height:31px;
}
ul.menu li.login a{
color:#ffffff;
}
ul.menu li a:hover{
text-decoration:underline;
}
h1.tituloPrincipal{
    float: left;
    font-family: "Florencesans","Arial",sans-serif;
    font-size: 51px;
    font-weight: normal;
    margin: 10px 0 0 71px;
}
body.home h1.tituloPrincipal{
    margin: 2px 0 0 71px;
    clear: right;
}
h1.tituloPrincipal a{
color:#ffcc66;
text-decoration:none;
}
body.home .buscador{
float:right;
margin: 22px 60px 0 0;
}
.buscador{
    clear: right;
    float: right;
    margin: 12px 31px 0 0;
    padding-top: 8px;
}
.buscador input{
    background: url("images/buscar.gif") no-repeat scroll 195px 4px #1C160D;
    border: 1px solid #5A544B;
    color: #D0CAC1;
    font-size: 11px;
    padding: 6px;
    width: 205px;

}

#exhibicionHome{
	height:270px;
	border-bottom:1px solid #ffffff;
}
.volanta{
width: 671px;
font-family:"Arial",sans-serif;
    background: url("/++theme++arcas.theme/images/solapaHomeTop.png") no-repeat;
font-size:12px;
color:#ffffff;
float:left;
clear:both;
margin: 2px 0 0 345px;
padding-left: 8px;
}
.tituloExhibicion{
    float:left;
    clear:left;
    font-family:"Attic",serif;
    text-align:left;
    height: 213px;

}
.bloque .tituloExhibicion{height: 90px; width: 198px; padding: 17px 0 0 23px}
.tituloExhibicion a {width:180px;height:129px;}
.bloque .titulo .tituloExhibicion a {display:block;padding: 30px 0 0 10px ;}
.bloque .tituloExhibicion  .subtitulo{color: #fff;
    font-size:18px; width: 112px;
    line-height: 18px;
    display: block;}
.bloque .tituloExhibicion  .titulo{color:#f4eba6; font-size: 22px}
body.home .tituloExhibicion{margin: 20px 0 0 345px;}

.tituloExhibicion .titulo{font-family:"Attic",serif !important;
font-size:20px;color:#ffffff;font-weight:normal;display:block;}
.tituloExhibicion h2{
font-family:"Attic",serif !important;
font-size:41px;color:#fff;font-weight:normal;line-height: 41px;width: 170px;display: block;}
.tituloExhibicion h2 a{color:#ffffff;}
.tituloExhibicion h2 span.size1{font-size:40px;}
.tituloExhibicion h3{
    font-family:"Attic",serif !important;
    font-size:22px;color:#ffffff;font-weight:normal;lcolor:#f4eba6;width: 290px;display: block;
}
.bloque .tituloExhibicion h3{line-height: 25px;color:#f4eba6;width: 270px;display: block}
.tituloExhibicion h3 {font-size:45px;color:#f4eba6;line-height:46px;}
.bloque .tituloExhibicion h3 .size1{font-size:21px;color:#f4eba6;line-height: 45px;}
.tituloExhibicion h3 .size3{font-size:37px;color:#f4eba6;line-height: 45px;}
.tituloExhibicion h3 .size4{font-size:23px;}
.datosExcibicion{
    color: #FFFFFF;
    float: right;
    font-family: "Arial",sans-serif;
    margin-top: 4px;
    text-align: left;
	padding-left:10px;
    width: 357px;
    -webkit-font-smoothing: antialiased;
}
.datosExcibicion p{font-size:12px;font-style:italic;}
.datosExcibicion p.curador{font-style:normal; color:#f2e4cd}
.datosExcibicion p.curador span:last-child{font-weight: bold;}
.datosExcibicion div.colaboradores{font-style:normal;font-size:12px;color:#f2e4cd}
.datosExcibicion div.colaboradores span:last-child{font-weight: bold;}

.datosExcibicion p.descri{line-height: 20px; font-size:14px}
.datosExcibicion  div.responsables p{font-size:12px}
.masExhibiciones{	
    clear: both;
    color: #FFFFFF;
    font-family: "Arial",sans-serif;
    font-size: 11px;
    text-decoration: none;
    width: 190px;
    padding-left: 860px;
    padding-top: 5px;
}
.masExhibiciones a{position:relative; top :0; float: right; margin-right: 50px;}
#coleccionesHome{
background:url(images/bgColeccionesHomeTop.png) left top repeat-x #23231f;
text-align:center;
border-bottom:1px solid #bfb5a4;
margin-bottom:33px;
position: relative;
}
#coleccionesHome h3{
background:url(images/tabColeccionesHome.png) center top no-repeat transparent;
font-family:"Florencesans","Arial",sans-serif;
font-weight:normal;
font-size:14px;
color:#ffcc66;
display:block;
height:22px;
float:left;
width:100%;
margin-top:24px;
padding-top:7px;
margin-bottom: 7px;
}
#vi{position:relative;clear:both;z-index:1;overflow: hidden;width:898px; margin-left:62px;}
.controlC{position:absolute; top:60px;width: 1020px;}    
.controlC .carrI{float:left; width:11px;display:block; margin-left:20px}
.controlC .carrD{float:right;width:11px; display:block; margin-right: 45px;}

.imgDummy{border:0; width:180px;height:263px; }
.mascaraImg{  float: left;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    width: 220px;
}
.textoInterno .parrafo .pos2,.textoInterno .parrafo .pos1{height:115px}
#carrusel{
 width:2000px;
 margin-left:0; 
}

#coleccionesHome .separador{
float:left;
width:2px;

background-color:#da7d2b;
margin:0 19px;
height:263px;
}

#coleccionesHome .bloqueColeccion{
	background: left top no-repeat transparent;	
	float:left;
	width:424px;
	height:263px;
	border:1px solid #999999;
}
.parrafo {
    padding-top: 32px;
}
.bloqueColeccion .textoInterno{
height:263px;
text-align:left;
} 
.bloqueColeccion .textoInterno h4{
font-family:"Attic","Arial",sans-serif;
display:block;
width:100%;
height:27px;
background-color:#1a1915;
color:#c46053;
font-weight:normal;
font-size:14px;
line-height:24px;
text-indent:11px;
} 

.bloqueColeccion .textoInterno .parrafo{
margin:0px !important;
height:90px !important;
} 
.bloqueColeccion .textoInterno .parrafo p{
font-size:11px;<span tal:></span>
color:#ffffff;
line-height:17px;

} 
.col1Linea{
    border-bottom: 2px dotted #333;
}
.bloqueColeccion .textoInterno .links{     
    color: #fff;
    font-size: 11px;
    margin-left: 0;
    padding: 0 0 7px 23px;
    position: absolute;
    text-transform: uppercase;
    top: 92px;
    width: 223px;
    background: rgba(0, 0, 0, 0) url("/++resource++arcas.content/flechaHome.png") no-repeat scroll 10px 2px;
} 
.bloqueColeccion .textoInterno .pos1 .links{top: 90px;}
.bloqueColeccion .textoInterno .links a{
color:#ffcc66;
text-decoration:none;
} 

.pos1 .tituColect {
    letter-spacing: 1px;
    padding: 10px 8px 0 10px;
}
.colordca167 .tituColect a:link, 
.colordca167 .tituColect a:visited {
    color: #222;
}
.colordca167 .textoInterno .links a:link, 
.colordca167 .textoInterno .links a:visited{
color:#333;    
}

.bloqueColeccion .textoInterno .links a:hover{
text-decoration:underline;
} 
.bloqueColeccion .textoInterno .links a.izq{
float:left;<span tal:></span>
} 
.bloqueColeccion .textoInterno .links a.der{
float:right;
} 
/*background:url(images/bgBuscarColecciones.png) left top no-repeat transparent;*/
.buscarEnColecciones{
float:left;
width:100%;
margin:5px 0;
height:10px;
}
.buscarEnColecciones input{
    background-color: transparent;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-family: "Arial",sans-serif;
    font-size: 12px;
    margin: 5px 93px 0;
    width: 180px;
    display:none;
}
#contenido{
border-bottom:1px solid #99928b;
padding-bottom:38px;

}
#contenido .novedades{
float:left;
width:260px;
margin-left:66px;
display:inline;
background-color:#4a4239;
font-size:12px;
}
#contenido .presentacion{
float:right;
width:598px;
margin-right:65px;
display:inline;
background-color:transparent;
}
#contenido .novedades .top{
background-color:#1c130c;
border:2px solid #4a4239;
border-left-width:1px;
height:30px;
}
#contenido .novedades .top h3{
color:#ffcc66;
font-size:14px;
font-family:"Arial",sans-serif;
font-weight:normal;
line-height:29px;
margin-left:14px;
letter-spacing:1px;
}
#contenido .pie{
height:15px;
    margin-top: 20px;
background:url(images/pieNovedades.png) right top no-repeat transparent;
}
body.home #contenido .pie{
background:url(images/pieNovedadesHome.png) right top no-repeat transparent;
}
#contenido .pie a{
float:right;
color:#ffffff;
font-size:11px;
text-decoration:none;
letter-spacing:1px;
margin-right: 10px;
}
#contenido .novedades .centro{
margin:15px;
height:250px;
}
#contenido .novedades h4 a{
color:#e1b35a;
text-decoration:none;
}
#contenido .novedades h4 a:hover{
text-decoration:underline;
}
#contenido .novedades p{
color:#ffffff;
margin-bottom:15px;
}
#contenido .presentacion{
border-top:1px solid #4a4239;
padding-top:7px;
}
#contenido .presentacion h3{
font-family:"Florencesans","Arial",sans-serif;
font-weight:normal;
color:#ffcc66;
margin-bottom:10px;
float:left;
}
#contenido .presentacion .centro div{
float:left;
font-size:12px;
color:#ffffff;
-moz-column-count: 2;
-moz-column-gap: 27px;
-webkit-column-count: 2;
-webkit-column-gap: 27px;
column-count: 2;
column-gap: 27px;
line-height: 19px;
text-align: justify;
}

#contenido .presentacion .pie{
float:right;
width:100%;
}
#contenido .presentacion .centro{
max-height:306px;
}
#pie{
background:url(images/bgTopPie.png) right top repeat-x #99928b;
height:auto;
padding-bottom:15px;
    clear: both;
    margin-top: 25px;
}
#final{
background-color:#8a837c;
height:62px;
}
#pie .licencia{
float:left;
margin: 10px;
}
#pie .licencia span{
float:left;
font-family:"Florencesans","Arial",sans-serif;
color:#6d6558;
font-size:28px;
margin: 12px 15px 3px 13px;
}
#pie .licencia a{
float:left;
clear:left;
}
#pie .links{
float:left;
margin-top: 20px;
}
#pie .logos{
float:right;
margin:25px 55px 0 0;
}
#pie .logos a{
display:block;
float:left;
clear:both;
margin-bottom:14px
}
#pie .logos .itemLink{
margin-left:102px;
padding-top:10px;
color:#151211;
font-size:11px;
font-weight:bold;
 -webkit-font-smoothing: antialiased;
}
#pie .institucional{
    clear: right;
    color: #FFFFFF;
    float: right;
    font-family: "Arial",sans-serif;
    font-size: 9px;
    letter-spacing: 0px;
    line-height: 15px;
    margin: 10px 10px 0 0;
    width: 325px;
	-webkit-font-smoothing: antialiased;
}
#pie .institucional a{
color:#ffffff;
text-decoration:none;
}
#pie .institucional a:hover{
text-decoration:underline;
}
#pie .links li{
font-family:"Arial",sans-serif;
font-weight:normal;
font-size:11px;
letter-spacing:1px;
height:22px;
border-bottom:1px solid #beb9b5;
line-height: 21px;
display: block;
}
#pie .links li a{
color:#ffffff;
text-decoration:none;
text-transform: uppercase; 
}
a.plone{
margin:5px 0 0 10px;
display:block;
float:left;
}
#pie .links  img{margin-top:7px;}
.breadcrumb{
float:left;
clear:left;
font-size:13px;
color:#FFCC66;
padding-left:27px;
background:url("/++theme++arcas.theme/images/homeBreadcrumb.gif") left center transparent no-repeat;
margin: 10px 0 5px 44px;
}
.breadcrumb a{
color:#FFCC66;
text-decoration:none;
}
.columnaIzquierda{
width:445px;
float:left;
margin-left:67px;
}
.columnaDerecha{
width:349px;
float:right;
margin-right:67px;
}
/**********internas*************/
#presentacionColeccion{
height:269px;
}
body.coleccion-puig #presentacionColeccion{

border-bottom: 1px solid #FFFFFF;
}
.columnaDerecha h4{color:#f5a661; font-size:19px}
.acerca h4{
font-family:"Florencesans",sans-serif;
font-size:24px;
font-weight:normal;
color:#ffcc66;
}
.acerca p{
font-family:"Arial",sans-serif;
font-size:12px;
font-weight:normal;
color:#ffffff;
    line-height: 18px;
}
.subtituloColeccion{
font-family:"Florencesans",sans-serif;
color:#ffffff;
font-size:14px;
font-weight:normal;
float:left;
clear:left;
margin:0 0 5px 4px;
}
.tituloColeccion{
float:left;
margin:26px 0 0 66px;
}
.tituloColeccion h2{
font-family:"Attic",serif;
color:#ffffff;
font-size:59px;
font-weight:normal;
float:left;
clear:left;
line-height: 57px;
margin-bottom: 5px;
width: 520px;
}
#presentacionColeccion .busqueda{
float:left;
clear:left;
}
.busquedaColeccion{float:left;clear:both;margin: 20px 0 0 10px;}
.coleccion .busquedaColeccion{padding-left: 55px;}
.busquedaColeccion select{
    background-color: #403A31;
    border: none !important;
    color: #FFFFFF;
    font-size: 11px;
    height: 22px;
    padding: 3px;
    width: 217px;
	float:left;
}
.busquedaColeccion select option,
.busquedaColeccion select option:checked,
.busquedaColeccion select option:hover,
.busquedaColeccion select option:focus,
.busquedaColeccion select option:active{
    background-color: #403A31 !important;
    border: none !important;
    color: #FFFFFF;
    font-size: 11px;
}
.busquedaColeccion input,.buscaTexto{
float:left;
clear:both;
background: url("images/buscarColeccion.gif") no-repeat scroll 195px 4px #241201;
    border: 1px solid #904401;
    color: #fc9f4d;
    font-size: 11px;
    padding: 6px;
    width: 203px;
	margin-top: 13px;
}
.acerca{
margin-top:20px;
}
.acerca h4{
margin-bottom:10px;
}
.contacto > span {
    left: 20px;
    position: relative;
    top: -12px;
    font-size:12px !important;
    
}
.acerca p{
margin-bottom:15px;
}
.coordinador{
margin-top:14px;
margin-bottom:22px;
}
.coordinador img{
border:4px solid #ecbe64;
float:left;
}
.coordinador .datos img{
border:none;
float:none;
}

.coordinador .datos{
float: left;
margin-left: 7px;
margin-top: 5px;
font-family:"Florencesans",sans-serif;
width: 180px;
}
.coleccion .coordinador .datos{   width: 290px !important;}
.coordinador .datos span{
font-size:14px;
color:#ffcc66;
display:block;
margin-top: 0px;
}
.coordinador .datos h4{
font-size:24px;
color:#ffcc66;
font-weight:normal;
}
a.cv{
font-size:12px;
text-decoration:none;
color:#000000;
margin-left:8px;
}
a.cv:hover{
text-decoration:underline;
}
.recomendacion{

}
.recomendacion span.intro{
    color: #CCCCCC;
    display: block;
    font-family: "Florencesans",sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}
.listadoRecomendacion .top, .listadoEnlaces .top{
border-bottom:6px solid #99928b;
}
.listadoRecomendacion .top .solapa, .listadoEnlaces .top .solapa{
-webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
float:left;
width:auto;
height:22px;

background-color:#403a31;
margin-right:2px;
    padding: 0 4px;
text-align:center;
color:#cc9966;
font-size:12px;
line-height:22px;

}
.listadoRecomendacion .top .solapa.activa, .listadoEnlaces .top .solapa.activa{
background-color:#99928b;

font-size:16px;
}
.listadoRecomendacion .top a{color:#fff;text-decoration: none;}
.listadoRecomendacion .top .activa a{
    color:#241201;
    text-decoration: none;
}
.listadoRecomendacion .centro{
margin-top:1px;
border-top:1px solid #ffffff;
background-color:#99928b;
padding:15px 7px;
}
.listadoRecomendacion .centro span{
display:block;
}
.listadoRecomendacion .centro span.tipo{
    font-size:10px;
    color:#ffffff;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

.listadoRecomendacion .centro .item{margin-bottom: 12px;}


.listadoRecomendacion .centro .autores span{
    display:inline;
font-size:10px;
color:#000000;
}
.listadoRecomendacion .centro a{
font-size:12px;
color:#403a31;
text-decoration:none;
}
.listadoRecomendacion .centro a span{
display:inline;
font-size:11px;
}
.listadoRecomendacion .centro .bloque{
margin-bottom:10px;
}
.bannerExhibicion{
margin-top:3px;
}
.licencia{
margin-top:32px;
}
.licencia img{
float:left;
clear:both;
margin-left:17px;
margin-top: 3px;
}

.licencia p{
font-size:10px;
color:#c1b9b1;
float:left;
width:305px;
line-height:16px;
margin:3px 0 0 14px;
}
.galeriaBox{margin-top:20px;}
.boxTexto {padding-bottom:20px!important}
.boxTexto,.galeriaBox{border-bottom:1px solid #ffcc66;
padding-bottom:2px;}
.galeriaBox .botonera{text-align:center;}
.galeriaBox .botonera span{
	color:#f5a661;
    font-family: "Florencesans",sans-serif;
	font-size:18px;
}
.galeriaBox .imagenes{
	text-align:justify;
    margin-top: 6px;
	border-bottom:1px solid #ffcc66;
}
.galeriaBox .imagenes img{margin-bottom:10px;}
.biografia{margin-top:20px;}
.biografia h4{
color:#f5a661;
font-weight:normal;
font-size:19px;
    font-family: "Florencesans",sans-serif;
margin-bottom:7px;
}
.boxTexto p,
.boxBio .bio p,
.biografia p,
.biografia .produccion{
    margin-top: 15px;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

.produccion h4{
color:#f5a661;
font-size:14px;
font-weight:normal;
}
.produccion .bloque{
margin:10px 0;
padding-bottom:10px;
border-bottom:1px dotted #afaca8;
    font-family: "Calibri",sans-serif;
}
.produccion .bloque span{
font-size:14px;
color:#cccccc;
display:block;
}
.produccion .bloque a{
font-size:14px;
color:#ff9933;
display:block;
text-decoration:none;
}
.produccion .bloque a:hover{
font-size:14px;
color:#ff9933;
display:block;
text-decoration:none;
}
#presentacionExhibicion{
height:282px;
}

body.exhibicion .tituloExhibicion{margin: 68px 10px 10px 63px;}
#presentacionExhibicion .datosExtra{
float:right;
width:484px;
font-family: "Florencesans",sans-serif;
margin:62px 0 0 0;
}
#presentacionExhibicion .datosExtra h4{
font-size:14px;
color:#453d36;
/*font-weight:normal;*/
}
#presentacionExhibicion .datosExtra h3{
font-size:14px;
color:#ffffff;
/*font-weight:normal;*/
display:block;
margin:4px 0;
}
#presentacionExhibicion .datosExtra h3.special{
font-size:18px;
margin:10px 0 16px 0;
}
.introExhibicion{
padding:10px 66px 0 67px;
background:url("images/bgTextoExhibiciones.gif") repeat-x left top transparent;
}
.introExhibicion .galDescri{
color:#ffffff;
font-size:12px;
line-height:19px;
-moz-column-count: 2;
        -moz-column-gap: 45px;
        -webkit-column-count: 2;
        -webkit-column-gap: 45px;
        column-count: 2;
		column-gap: 45px;
margin-bottom:15px;
}
.obra .documentos{
padding:12px 0 0 67px;
width:422px;
float:left;
}
.obra .documentos .thumbnails{
width:76px;
float:left;
padding-top: 7px;
}
.obra .documentos .thumbnails ul li div{width:51px; height:81px; text-align:center}
.obra .documentos .thumbnails a.flechaNavegacion{
margin:0 0 0 0;
}
.obra .documentos .thumbnails a.flechaNavegacion img:hover{
width:59px;
height:8px;
border:none
}
.obra .documentos .thumbnails a{
    display: block;
    margin: 7px 0 7px;
    width: 76px;
	float:left;
}
.obra .documentos .thumbnails a.activo{
background:url("images/thmbnailActivo.gif") no-repeat right center transparent;
}
.obra .documentos .thumbnails a.activo img{
width:53px;
height:75px;
border:3px solid #da7d2b;
}
.obra .documentos .pagina{
    float: left;
    padding: 22px 0 0;
width: 346px;
}
.obra .documentos .pagina img.scan{
-webkit-box-shadow:  3px 5px 3px 0px #1b1916;
box-shadow:  3px 5px 3px 0px #1b1916;
margin-right:3px;
float:right;
clear:both;
     max-width: 320px;
}
.obra .documentos .pagina a{
    color: #FFFFFF;
    float: left;
    font-family: "Florencesans",sans-serif;
    font-size: 11px;
    margin: 11px 5px 6px 42px;
}
.obra .documentos .pagina a.fullSize{
float:right;
margin: 10px 3px 6px 42px;
}
.obra .texto{
width:406px;
float:right;
margin:30px 67px 0 0;
}
.obra .texto h3{
color:#ffcc66;
font-family: "Florencesans",sans-serif;
font-size:24px;
font-weight:normal;
margin-bottom:18px;
float:left;
width:100%;
}
.obra .texto p{
color:#ffffff;
font-family: "Calibri",sans-serif;
font-size:14px;
text-align:justify;
line-height: 19px;
}
.contenedorDatosExhibicion{
background:url("images/bgDatosExhibicion.gif") repeat-x right top transparent;
margin:15px 71px 0 70px;
}
.contenedorDatosExhibicion .columnaIzquierda{
margin: 30px 0 0 10px;
}
.contenedorDatosExhibicion .indice ul{
width:325px;
margin-top:10px;
}
.contenedorDatosExhibicion .indice h3{
color:#b9ab93;
font-size:14px;
font-weight:normal;
padding-left:25px;
}
.contenedorDatosExhibicion .indice li a{
color:#ff9933;
text-decoration:none;
font-size:13px;
display:block;
border-bottom:1px dotted #ffffff;
padding: 3px 0 10px;
}
.contenedorDatosExhibicion .indice li.activo a{
color:#ffffff;
}
.contenedorDatosExhibicion .indice li{
background:no-repeat left 4px transparent;
padding-left:25px;
    display: block;
}
.contenedorDatosExhibicion .indice li.libro{
background-image:url("images/libro.gif");
}
.contenedorDatosExhibicion .indice li.web{
background-image:url("images/web.gif");
}
.contenedorDatosExhibicion .indice li.video{
background-image:url("images/video.gif");
}
.contenedorDatosExhibicion .indice li.imagen{
background-image:url("images/imagen.gif");
}
.contenedorDatosExhibicion .indice li.documento{
background-image:url("images/documento.gif");
}
.contenedorDatosExhibicion .columnaDerecha {
    margin-right: 0;
width: 401px;
}
.columnaDerecha .curador{
background:url("images/topCurador.gif") no-repeat right top #8b806f;
padding-bottom: 15px;
margin-bottom:20px;
}
.columnaDerecha .curador .contacto{
float:right;
margin-right:13px;
}
.columnaDerecha .curador .contacto img{
margin-top:2px;
float:left;
}
.columnaDerecha .curador .contacto .cv{
color:#ffffff;
float:left;
}
.columnaDerecha .curador .fotoCurador,.curadorIMG img:first-child{
border:4px solid #d2cac2;
margin:15px 0 0 10px;
float:left;
width:67px
}
.columnaDerecha .curador .datosExtra {
    float: left;
 margin: 12px 0 0 20px;
    width: 244px;
}
.columnaDerecha .curador .datosExtra h4{
font-size:13px;
color:#d2cac2;

font-weight:normal;

}
.columnaDerecha .curador .datosExtra h3{
font-size:13px;
color:#ffffff;
font-weight:normal;
display:block;

}
.columnaDerecha .curador .datosExtra h3.special{
font-size:17px;
padding-bottom:10px;
}
#contenido  .listadoEnlaces .pie{
background:none #403a31;
height:22px;
}
#contenido  .listadoEnlaces .pie a{
    background: url("images/irA.gif") no-repeat scroll left 5px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    line-height: 21px;
    margin-left: 5px;
    padding-left: 18px;
}
.licenciaImagenes {
    margin: 40px 0 0 105px;
}
.licenciaImagenes a{
float:left;
}
.licenciaImagenes p{
float:left;
color:#c1b9b1;
font-size:11px;
margin:0 0 0 10px;
line-height: 14px;
}
#contenido #viewlet-above-content{display: none}
#contenido .documentEditable #content
{
    color:#fff !important;
}

#contenido #content .discreet,
#contenido #sidebar .discreet {
    color: #fff;
    font-size: 85%;
    font-weight: normal;
}

#contenido #content .documentDescription, #contenido #content #description {
    color: #fff;
    font: bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
    margin-left: 0;
}

#contenido #content div.documentByLine {
    color: #fff;
    display: block;
    font-size: 85%;
}

#contenido  #content h1.documentFirstHeading {
    color:#FFCC66;
    margin-top: 0;
}


#content a:link, dl.portlet a:link {
    border-bottom: 0.1em solid #CCCCCC;
    color: #FFCC66;
}

.colordca167 a.mascaraImg, .colordca167 .links{color:#000}
.color586d57 a:link,.color586d57 a:visited,.color586d57 .descrip{color: #fff !important}



a:link, a:visited {color: #FFCC66;}
* *:link, *:visited {text-decoration: none;}

#carrusel .textoInterno h4 a,
#carrusel .textoInterno h4 a:visited{color:#c46053 !important}
#carrusel .textoInterno h4 a:hover{color:#ffcc66 !important}
#content table a{ color: #ffffff;}

table.listing th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #C0C0C0;
    border-color: #E7E7E7;
    border-image: none;
    border-style: solid solid none;
    border-width: 0.1em;
    color: #666666;
    text-align: left;
}

table.listing tbody tr.odd {
    background: none repeat scroll 0 0 #8a837c;
}

table.listing tbody tr.odd td {
    background: none;
}
#content a:link,#content a:visited, dl.portlet a:link {
    border-bottom: 0.1em solid #CCCCCC;
    color: #FFCC66;
}
#edit-bar {
    background-color: #75AD0A;
    border: 0.25em solid #75AD0A;
    font-size: 80%;
    margin-bottom: 0 !important;
    min-height: 2em;
    padding-top: 0.05em;
}
.cabezalInterno{
height:79px;
background:left top #99928b no-repeat;
border-bottom:1px solid #ffffff;
}
.cabezalInterno h2,.cabezalInterno h1{
    color: #403A31;
    float: left;
    font-family: "Florencesans",sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 24px 0 0 70px;
	line-height:25px
}
.template-folder_listing .cabezalInterno h1;
.portaltype-arcas-sugerencia .cabezalInterno h4{letter-spacing:0em; font-family: Arial;}

body.listadoColecciones .cabezalInterno h2{color: #ffffff;
}
body.faq .cabezalInterno{
background-image:url("/++theme++arcas.theme/images/bgH1Standars.gif");
}
body.listadoExhibiciones .cabezalInterno{
background-image:url("/++theme++arcas.theme/images/bgCabezalListadoExhibiciones.jpg");
}
body.listadoColecciones .cabezalInterno{
background-image:url("/++theme++arcas.theme/images/bgCabezalListadoColecciones.jpg");
}
/*body.listadoExhibiciones .cabezalInterno{
background-image:url("/++theme++arcas.theme/images/tituloTrama.png");
}*/
body.estandar .texto{
    margin:38px 60px 40px 69px;	
	font-size:12px;
}
.listadoColecciones .texto,.listadoExhibiciones .texto{
    -moz-column-count: 2;
    -moz-column-gap: 45px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
	text-align:justify;
}
body.listadoExhibiciones .lista{
margin-left:68px;
}
body.listadoExhibiciones .lista .bloque{
width:892px;
height:129px;
margin-bottom:23px;
}
.containerRight  .descri{
	float:left;
	width:304px;
	margin-right:110px;
	padding-top:22px;
	color:white;
	font-size:11px;
}
.containerRight div.datosExtra  img{border:3px solid #cfc5ba; margin-top:8px;}
body.listadoExhibiciones .containerRight .datosExtra{ 
    font-family:"Florencesans","Arial",sans-serif;
	float:left;
	width:256px;
	margin-left:0px
}
.containerRight div.datosExtra  .special,
.containerRight div.datosExtra  li a{font-family:"Florencesans","Arial",sans-serif;color:white}
.containerRight div.datosExtra div{
width:200px;float:right;padding-top:15px;color:white;font-size:16px;
}
.listadoExhibiciones .containerRight div.datosExtra div{font-size:13px;}
.containerRight div.datosExtra div .label{color:#4a423b; display:block; font-size:11px;padding-top:5px}
.containerRight div.datosExtra div .label:nth-child(1){padding-top:12px}

body.listadoExhibiciones .tituloExhibicion h2,
body.listadoExhibiciones .tituloExhibicion h3{
letter-spacing:1px;
}
.bloquePuig .tituloExhibicion h2{
font-size:30px;
line-height: 25px;
}
.bloquePuig .tituloExhibicion h2 span.size1{
font-size:24px;
}
.bloquePuig .tituloExhibicion h3 {
    font-size: 16px;
	line-height: 16px;
}
.bloquePuig .tituloExhibicion h3 .size2 {
    font-size: 28px;
}
.bloquePuig .tituloExhibicion h3 .size4 {
    font-size: 14px;
}
.bloquePuig .tituloExhibicion h3 .size3 {
    font-size: 23px;
	line-height: 25px;
}
.bloqueSaer .tituloExhibicion h2{
    color: #AFC5C9;
    display: block;
    font-size: 40px;
    height: 61px;
    line-height: 17px;
    text-align: center;
    width: 90px;
}
.bloqueSaer .tituloExhibicion h2 .size1{
font-size:15px;
}
.bloqueSaer .tituloExhibicion h3 .size2{
    color: #0E2D33;
    font-size: 23px;
    line-height: 24px;
    text-transform: uppercase;
}
.bloqueSaer .tituloExhibicion h3 {
    font-size: 16px;
    line-height: 16px;
}

.bloqueVigo .tituloExhibicion{
margin-left:63px;
}

.bloqueVigo .tituloExhibicion h2{
    color: #ffb153;
    display: block;
    font-size: 33px;
    height: 46px;
    line-height: 33px;
    width: 90px;
	margin: 9px 0 0 12px;

}
.bloqueVigo .tituloExhibicion h2 .size1{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
}
.bloqueVigo .tituloExhibicion h3 .size2{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    margin-left: 2px;

}
.bloqueVigo .tituloExhibicion h3 .size3{
    color: #431607;
    font-size: 23px;
    line-height: 20px;
    margin-left: 35px;

}
.bloquePerezReverte .tituloExhibicion h2{
    color: #10131c;
    font-size: 14px;
    line-height: 20px;
	display: block;
}
.bloquePerezReverte .tituloExhibicion h3{
    color: #1d1a16;
    font-size: 23px;
}
.bloquePerezReverte .tituloExhibicion h3 .size1{
    font-size: 23px;
    line-height: 20px;
	margin-left: 35px;
}
.bloquePerezReverte .tituloExhibicion h3 .size2{
    font-size: 15px;
    line-height: 20px;
    margin-left: 56px;
	color:#cac9bc;
}
.bloquePerezReverte .tituloExhibicion h3 .size3{
    font-size: 33px;
    line-height: 20px;
    margin-left: 8px;
	color:#1d1a16;
}

body.listadoExhibiciones .tituloExhibicion a{
text-decoration:none;
}
body.listadoExhibiciones .datosExtra{
float:left;
width:252px;
font-family:"Florencesans",sans-serif;
margin-left: 97px;
}
body.listadoExhibiciones .datosExtra img{
width:43px;
height:43px;
border:2px solid #d2cac2;
float:left;
margin-top:7px;
}
body.listadoExhibiciones .datosExtra .responsables{
width:180px;
float:left;
margin:25px 0 0 0px;
    padding: 0;
}
body.listadoExhibiciones .datosExtra h4{
font-size:11px;
font-weight:normal;
color:#4a423b;
}
body.listadoExhibiciones .datosExtra h3{
font-size:14px;
font-weight:normal;
color:#ffffff;

}
body.listadoExhibiciones .datosExtra h3.special{
font-size:15px;
padding-bottom:7px;
display:block;
}
body.listadoExhibiciones .bloque p{
width:290px;
float:left;
font-size:11px;
color:#ffffff;
line-height:17px;
margin-top:10px;
text-align:justify
}
.containerRight{
float:right;
width:661px;
}
body.listadoColecciones .lista .bloque {
    height: 127px;
	margin:0 0 23px 0px;
    width: 100%;
	border:1px solid #999999;
	background-color:#6f6c5c;
}
body.listadoColecciones .lista .bloque .tituloColeccion{
    height: 127px;
	background-color:#6f6c5c;
	margin:0;
	width:214px;
}
body.listadoColecciones .lista .bloquePuig .tituloColeccion{
background:url("images/bloqueColeccionPuig.jpg") left top transparent no-repeat;
}
body.listadoColecciones .lista .bloqueSaer .tituloColeccion{
background:url("images/bloqueColeccionSaer.jpg") left top transparent no-repeat;
}
body.listadoColecciones .lista .bloqueVigo .tituloColeccion{
background:url("images/bloqueColeccionVigo.jpg") left top transparent no-repeat;
}
body.listadoColecciones .lista .bloquePerezReverte .tituloColeccion{
background:url("images/bloqueColeccionPerezReverte.jpg") left top transparent no-repeat;
}
body.listadoColecciones .lista .bloque .tituloColeccion a {
    display: block;
	width:205px;
	height:105px;
	padding-top:95px;
    margin: 0 0 0 10px;
    color: #fff;
}
body.listadoColecciones .lista .bloque .tituloColeccion h2{
font-size:14px;
line-height:14px;
}
body.listadoColecciones .lista .bloque .acercaColeccion{
width:390px;
float:left;
height: 127px;
margin-top: 7px;
}
body.listadoColecciones .lista .bloque .coordinador{
width:238px;
float:left;
height: 53px;
margin:5px 0 0 30px;
}

body.listadoColecciones .lista .bloque .coordinador img{
width:43px;
height:43px;
border-width:3px;
margin:0;
}
body.listadoColecciones .lista .bloque .coordinador .datos span{
font-size:10px;
}
body.listadoColecciones .lista .bloque .coordinador .datos h4{
font-size:15px;
}
body.listadoColecciones .lista .bloque .acercaColeccion h3{
    color: #FFCC66;
    display: block;
    font-family: "Florencesans",sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 6px;
}
body.listadoColecciones .lista .bloque .acercaColeccion p{
color:#ffffff;
font-size:11px;
line-height:13px;
width:100%;
text-align:justify;
}
body.listadoColecciones .lista .bloque .busquedaColeccion {
margin: 7px 0 0 30px;
clear:none;
}
body.listadoColecciones .lista .bloque .busquedaColeccion input{
margin:5px 0 0 0;
color:#fff;
border-color:#595646;
background-image: url("images/buscar.gif");
}
body.listadoColecciones .lista .bloque .busquedaColeccion .buscaTexto:focus{color:#333;}
#searchSection,.LSBox{ text-align: right;
    position: relative;}
#LSResult{z-index: 10; background-color: #999999; text-align: left; font-size: 12px; top:55px}
.LSTable {text-align: left}
#searchbox_currentfolder_only{ width: auto;}

input.searchButton{width: 25px;
    background: url("images/buscar.gif") no-repeat scroll 5px 4px #1C160D;
    height:28px;   display: inline-block; color:#1c160d}
.searchGadget{margin-top: -1px;   display: inline-block;}
.texto .resultBox{color:white; }
#contenido .texto a:link,.texto .state-published{color:#b7b0a9 !important}
#contenido .texto a:hover{color:#fff !important}
#contenido .texto a:visited{color:#fff !important}
.estandar .texto {padding-bottom:20px; color:white; line-height:18px}
#bioTemplate .label{font-size: 18px; text-transform:uppercase}
#bioTemplate .columnas{margin-top: 25px;}
#bioTemplate .columnas h3,
#bioTemplate .columnas h4{margin-top: 8px; display: block}
#bioTemplate h3 span, #bioTemplate h4 span{
    font-size: 16px; color: #fff;}
.conColumnas #content-core div,
.template-document_view #content-core div,
.template-newsitem_view  #content-core div{
    -webkit-column-count:2;/* Chrome, Safari, Opera */
    text-align: justify; 
    -moz-column-count:2; /* Firefox */
    column-count:2;
    -moz-column-gap:30px;
}
.documentDescription{margin-bottom:12px; font-style: italic}
.cabezalInterno  #viewlet-below-content-title{clear:both;  margin: 6px 0 0 70px;}
#final{padding:10px}
.buscador{font-size:11px}
.linkFuentes{display:block; background-color:#403a31; width:218px; height:23px;}
a.linkFuentes{color:white; font-size:12px; line-height:23px}
a.linkFuentes img{ margin:0 8px 0 8px; float:left;padding-top:5px}
#content-core{background-color: #555;padding: 8px;min-height: 250px;}
.columnaDerecha .labelM{color:#cec4ba; display:block; font-size:11px; font-weight:bold; padding-top:15px; padding-left:19px;}
.columnaDerecha .labelM
.columnaDerecha .specialDestacado{color:#fffefb; font-size:18px;font-family: "Calibri",sans-serif;}
.columnaDerecha .special{color:#fffefb; font-size:16px;font-family: "Calibri",sans-serif;}
.curadorIMG{width:100px; height:150px; float: left;}
.labelTitulo{color:#573e39; font-size:13px}
.datosExtra ul{padding-bottom:14px}
.datosExtra ul li{color:#f7feff}
.itemResult{margin-bottom: 25px}
.portaltype-arcas-biografia #seccion{
    display:none ;}
.cabezalInterno .titulo{color:#403a31; margin: 0px 0 0 68px; padding-top: 10px;}
.cabezalInterno .titulo span{font-size: 10px}
.cabezalInterno .titulo h4{  color: #403a31;font-size: 25px;font-weight: normal;}
.portaltype-arcas-biografia  h2{color:#ffcc66; margin: 0 0 25px 0;}
.portaltype-arcas-biografia  .textoBox{margin-top: 25px;}
.portaltype-arcas-sugerencia h1{color:#eee}
.portaltype-arcas-sugerencia .autores{margin-bottom: 16px;color:#ffcc66; font-style: italic}
.portaltype-arcas-sugerencia .descri{margin-bottom:8px;}
.portrait img{width: 48px; height: 48px}
.searchSection{display:none;}
#pie div.central{
    float:left;
    width: 150px;
    margin-left: 105px;
    padding-top: 45px;
}
.estandar .texto h2{margin-bottom:1em;}

#pie div.central a{display:block}
#pie div.central a:first-child{margin-bottom: 30px;}
.columnas{width: 90%;}
.columnas .columnaL,.columnas .columnaR{ width: 48%; float: left; text-align: justify}
.columnas .columnaL{margin-right: 4%}
.template-folder_listing #content-core .documentByLine{display:none}
.template-folder_listing #content-core dt{padding-top: 10px; padding-left: 3%}
.template-folder_listing #content-core dd{width:70%;  padding-left: 3%}
#content-core dt .summary img{margin-right: 12px;}
#feedback_form input,#feedback_form textarea{width: 35%}
#feedback_form  div.field.error,#feedback_form .portalMessage dd{ border-color:#99928B !important;background-color:#99928B !important}
 dl.portalMessage dd{color:black !important}
#pie .licencia img{display: none}
.logoIdihcs{margin-left: 8px}
.links:nth-child(2) > ul:nth-child(1){margin-bottom:17px}

.template-document_view .listImages{margin-top: 1.1em; width:20%; float: left; overflow:hidden}
.template-document_view   .conImages .textoBody{ width:70%;
    margin-left:5%;}
.template-document_view .textoBody{     
	margin-top:1em;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    text-align: justify;
}

.colDerSec1 {
    margin-bottom: 30px;
    margin-top: 30px;
}
#form-widgets-f_anotacion{width:50%; height:300px;}
.pos1 .descrip{margin-top:5px;}
.descrip {
    clear: both;
    display: block;
    font-size: 12px;
    height: 20px;
    padding-left: 10px;
    width: 60%;
}

.categoria {
    margin-bottom:15px;
    margin-left: 68px;
    width: 892px;
    padding: 8px
}
.categoria.color586d57{
    background-color:#22231e
}
.categoria.colordca167{
    background-color:#22231e
}
.colordca167 h2{
    color: #dca167;
}
.color586d57 h2{
    color: #586d57;
}
.color586d57 > .descriCate, .colordca167 > .descriCate{color: #bbb;   font-size: 14px;
    margin-bottom: -20px;}

/*
** Plone style sheet - Form Elements
**
** Style sheet documentation can be found at http://plone.org/documentation
**
** You should preferrably use ploneCustom.css to add your own CSS classes and to
** customize your portal, as these are the base fundaments of Plone, and will
** change and be refined in newer versions. Keeping your changes in
** ploneCustom.css will make it easier to upgrade.
**
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/

/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: &dtml-inputFontColor;;
    background: White url(&dtml-portal_url;/input_background.png) repeat-x;
    width: 100%;
}
input {
    font-family: <dtml-var fontFamily>;
    visibility: visible;
    border: 1px solid #ddd;
    border-color:#666 #ddd #ddd #666;
    color: &dtml-inputFontColor;;
    vertical-align: middle;
    background: White url(&dtml-portal_url;/input_background.png) repeat-x;
    font-size: 1em;
}

/* Code to work around IE's lacking support of sub-elements of the input element */
.noborder,
.documentEditable * .noborder {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}

input[type=checkbox] {
    border: none;
    margin: 0;
    background: none;
    background-color: transparent;
}


#searchGadget {
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
}

button {
    font-family: <dtml-var fontFamily>;
    visibility: visible;
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
    color: &dtml-inputFontColor;;
    vertical-align: middle;
    background-color: &dtml-globalBackgroundColor;;
    padding: 1px;
    cursor: pointer;
    font-size: &dtml-fontSmallSize;;
    text-transform: &dtml-textTransform;;    
}
select {
    vertical-align: top;
}
form {
    border: none;
    margin: 0;
}
fieldset {
    border: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
    width: auto;
}
legend {
    background: &dtml-backgroundColor;;
    padding: 0.5em;
    font-size: 90%;
}
label {
    font-weight: bold;
}
label .fieldErrorBox {
    font-weight: normal;
}
optgroup {
  font-style: normal;
  font-weight: bold;
  color: #999;
  padding-left: 0.25em;
}
option {
  color: black;
}
optgroup > option {
  padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}

#login-form {
    width: 30em; 
    margin: 0 auto;
}
#login-form .field {
    clear: none;
}
#login-form input {
    font-size: 150%;
}
#login-form input.context {
    padding: 1px 10px 1px 20px;
    background-position: 9px 5px;
    margin-bottom: 1em;
}

#forgotten-password {
    float: right; 
    width: 35%; 
    margin: 0 1em;
}

.standalone,
.documentEditable * .standalone {
    background: &dtml-globalBackgroundColor; url(&dtml-portal_url;/linkOpaque.png) 9px 1px no-repeat;
    color: &dtml-fontColor;;
    cursor: pointer;
    font-size: &dtml-fontSmallSize;;
    padding: 1px 1px 1px 15px;
    text-transform: &dtml-textTransform;;
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
}
.context,
.formControls .actionButtons .button,
.documentEditable * .context {
    background: transparent url(&dtml-portal_url;/linkTransparent.png) 9px 1px no-repeat;
    color: &dtml-fontColor;;
    cursor: pointer;
    font-size: &dtml-fontSmallSize;;
    padding: 1px 1px 1px 15px;
    text-transform: &dtml-textTransform;;
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
}
.destructive,
.documentEditable * .destructive {
    background: &dtml-notifyBackgroundColor; url(&dtml-portal_url;/linkTransparent.png) 9px 1px no-repeat;
    border: &dtml-borderWidth; &dtml-borderStyle; &dtml-notifyBorderColor;;
    color: &dtml-fontColor;;
    cursor: pointer;
    font-size: &dtml-fontSmallSize;;
    padding: 1px 1px 1px 15px;
    text-transform: &dtml-textTransform;;
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
}
input.searchButton {
    margin-bottom: &dtml-borderWidth; ! important;
    color: &dtml-fontColor;;
    font-size: &dtml-fontSmallSize;;
    background: &dtml-backgroundColor; url(&dtml-portal_url;/search_icon.png) 2px 1px no-repeat;
    cursor: pointer;
    padding: 1px 1px 1px 19px;
    text-transform: &dtml-textTransform;;
    border: &dtml-borderWidth; solid &dtml-globalBorderColor;;
}
.searchSection {
    color: &dtml-discreetColor;;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: &dtml-fontColor;;
}

/* The edit form elements */
.field {
    top: 0;
    left: 0;
    margin: 0 1em 1em 0;
    clear: both;
}
#search-filter .field {
    clear:none;
    float:left;
    width:230px;
}
#search-filter  h2 {
    clear: left;
}
.field .field {
    margin: 0;
}
.fieldRequired {
    background: url(&dtml-portal_url;/required.png) center left no-repeat;
    padding: 0 0 0 8px;
    color: &dtml-backgroundColor;;
}
.fieldUploadFile {
    text-align: right; 
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    font-size: 90%;
    color: &dtml-discreetColor;;
    margin: 0 0 0.2em 0;
    display: block;
}
.formHelp:hover {
    color: &dtml-fontColor;;
    cursor: default;
}
div.error {
    /* Class for error indication in forms */
    background-color: #fdc; 
    border: 1px solid #d00;
    padding: 0.5em;
    margin: 0 0 1em 0;
    width: 95%;
}
.error .fieldRequired {
   color: #d00;
}


/* Styles to make the editing widgets look more like their view counterparts */
#archetypes-fieldname-title input, input#form\.title {
    font-size: 160%;
    font-family: <dtml-var headingFontFamily>;
    font-weight: normal;
    width: 99%;
}
#archetypes-fieldname-description textarea, textarea#form\.description {
    font: 100% <dtml-var fontFamily>;
    font-weight: bold;
}
input.inputLabelActive {
  color: &dtml-discreetColor;;
}

textarea#form\.description {
    height: 6em;
    width: 99%;
}

tr.selected { 
    background-color: #ffa;
}

.kupu-save-message {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 0.3em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
input[type="text"]:focus{background-color:#333;color:#fff}
.destacado{font-weight:bold;color: #ffcc66}
/* </dtml-with> */
